<!-- One -->
<!-- Main -->
<section id="one">
	<header class="major">
	  <h2>
		Erfahrene Online-Mathematik-Nachhilfe für dich!
	  </h2>
	</header>
	<p>
	  Mit über 6 Jahren Erfahrung als engagierter Nachhilfelehrer biete ich maßgeschneiderte Online-Mathematikunterstützung für Schüler*innen und Student*innen an. Mein Schwerpunkt liegt darauf, komplexe mathematische Konzepte verständlich zu vermitteln und Schüler*innen dabei zu helfen, ihre Fähigkeiten zu verbessern und Selbstvertrauen in dieses Fach zu gewinnen.
	</p>
	<p>
	  Während meiner langjährigen Tätigkeit habe ich wertvolle Einblicke gewonnen und mich ständig weiterentwickelt. Als Teil eines ehrenamtlichen Projekts zur Sommerschule konnte ich meine pädagogischen Fähigkeiten vertiefen und meine Lehrmethoden an verschiedene Lernstile anpassen.
	</p>
	<p>
	  Mein Hintergrund in Maschinenbau und Verfahrenstechnik hat meine Fähigkeit zur Problemlösung gestärkt, was mir hilft, Mathematik auf eine zugängliche und effektive Weise zu vermitteln. Meine Online-Nachhilfestunden sind darauf ausgerichtet, auf die individuellen Bedürfnisse der Lernenden einzugehen und ihnen zu helfen, ihr volles Potenzial in diesem Fach zu entfalten.
	</p>
	<ul class="actions">
	  <li><a href="more" class="button">Erfahre mehr</a></li>
	</ul>
  </section>
  
  
