<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<ul class="icons">

			<li>
				<a href="bachertlars@gmail.com" class="icon solid fa-envelope"><span class="label">Email</span></a>
			</li>
		</ul>
		<ul class="copyright">
			Foto von <a href="https://unsplash.com/de/@d_apurvdas?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Apurv Das</a> auf <a href="https://unsplash.com/de/fotos/ein-dunkelblauer-hintergrund-mit-welligen-formen-4soXarjm9do?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
			<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
			<li>Powered by <a href="https://astro.build">Astro</a></li>
		</ul>
	</div>
</footer>
