<!-- Three -->
<section id="three">
	<h2>Get In Touch</h2>
	<p>
		Wenn du Interesse an meiner individuellen Mathematik-Nachhilfe oder weitere Fragen dazu hast, zögere nicht, mich zu kontaktieren. Ich stehe für Online-Nachhilfestunden zur Verfügung und freue mich mit dir gemeinsam die Mathematik verständlich zu machen. Schicke mir gerne eine E-Mail, Whatsapp oder fülle das Kontaktformular (noch in Arbeit) aus – ich werde mich so schnell wie möglich bei dir melden.
	</p>
	<div class="row">
		<div class="col-8 col-12-small">
			<form method="post" action="#">
				<div class="row gtr-uniform gtr-50">
					<div class="col-6 col-12-xsmall">
						<input type="text" name="name" id="name" placeholder="Name" />
					</div>
					<div class="col-6 col-12-xsmall">
						<input type="email" name="email" id="email" placeholder="Email" />
					</div>
					<div class="col-12">
						<textarea name="message" id="message" placeholder="Message" rows="4"></textarea>
					</div>
				</div>
			</form>
			<ul class="actions">
				<li><input type="submit" value="Send Message" /></li>
			</ul>
		</div>
		<div class="col-4 col-12-small">
			<ul class="labeled-icons">
				<li>
					<h3 class="icon solid fa-home">
						<span class="label">Addresse</span>
					</h3>
					Nähe Kaiserslautern
				</li>
				<li>
					<h3 class="icon solid fa-mobile-alt">
						<span class="label">Phone</span>
					</h3>
					+49 178 6590210
				</li>
				<li>
					<h3 class="icon solid fa-envelope">
						<span class="label">Email</span>
					</h3>
					<a href="#">bachertlars@gmail.com</a>
				</li>
			</ul>
		</div>
	</div>
</section>
