---
import avatar from '../assets/avatar.jpg';
---

<!-- Header -->
<header id="header">
	<div class="inner">
	  <a href="#" class="image avatar"
		><img src="src/assets/IMGL5738-Bearbeitet (1).jpg" alt=""
	  /></a>
	  <h1>
		<strong>Hallo, ich bin Lars!</strong><br />
		Dein engagierter Nachhilfelehrer, der dich auf dem Weg zu besseren Noten unterstützt!		
		</a>
	  </h1>
	</div>
  </header>
